# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Entorno virtual
venv/

# Datos
data/raw/
data/processed/
*.csv

# Modelos
*.pkl
*.joblib

# MLflow
mlruns/

# Logs y otros
*.log

# Docker
*.env
*.dockerignore

# IDEs
.vscode/
.idea/

# Notebooks temporales
*.checkpoint.ipynb

